.none {
  display: none !important;
}
body{margin:0
}
.Menu{
    width:20%;
    float: left;
}
.Books, .Genres, .Authors, .BookInfo{
    width: 80%;
    float:right;
}
.Book, .Genre, .Author{
    margin:  10px;
    width: 40%;
    display: inline-block;
}
a{
    font-family: 'Inknut Antiqua', serif !important;
    color:#000000 !important;
    text-decoration: none;
    font-weight: bold;
}


.left-align{text-align:left}
.right-align{text-align:right}
.center,.center-align{text-align:center}
.left{float:left }
.right{float:right }
